/mods
/saves
/minecraftinstance.json
configs
/resourcepacks
/crash-reports
/ct_dumps
/downloads
/fancymenu_setups
/local
/logs
/patchouli_books
/XaeroWaypoints
/XaeroWorldMap
/.curseclient
/options.txt
/optionsof.txt
/optionsshaders.txt
/reauth.toml
/usercache.json
/usernamecache.json
config/fancymenu
config/borderlesswindow-client.toml
config/jei-client.toml
config/jei/bookmarks.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/tombstone-client.toml
config/waila/waila.json
config/inventoryhud-client.toml
config/sodium-options.json
config/xaerominimap_entities.json
/patchouli_data.json
/screenshots
/classes
/shaderpacks
*.bak
